/*
** Fonts
 */
@font-face {
  font-family: RobotoMedium;
  src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: RobotoRegular;
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoLight;
  src: url('fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: ProximaNovaRegular;
  src: url('fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: FuturaNewLightReg;
  src: url('fonts/Futura-New-Light-Reg.otf');
}
@font-face {
  font-family: FuturaNewMediumReg;
  src: url('fonts/Futura-New-Medium-Reg.ttf');
}
@font-face {
  font-family: FuturaNewBookRegular;
  src: url('fonts/Futura-New-Book-Regular.ttf');
}
