/*
** Footer
 */
.footer {
  padding-bottom: 15px;
  font-family: RobotoRegular;
  font-size: 11px;
  &_top {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #e7e9ec;
    border-bottom: 1px solid #e7e9ec;
    color: #636e72;
    @media(max-width: 767px) {
      justify-content: center;
    }
  }
  &_logo {
    display: inline-block;
    margin-right: 14px;
    img {
      display: block;
      width: 18px;
      height: auto;
    }
  }
  &_socials {
    display: inline-block;
    margin-left: 45px;
    font-size: 16px;
    @media(max-width: 767px) {
      display: none;
    }
  }
  &_social {
    margin-right: 38px;
    color: #dfe6e9;
    &:hover {
      color: #636e72;
    }
  }
  &_text {
    padding: 8px 0;
    letter-spacing: 0.1px;
    @media(max-width: 767px) {
      display: none;
    }
    p {
      font-size: 11px;
    }
    a {
      font-family: ProximaNovaRegular;
      font-weight: 600;
      color: #0984e3;
    }
  }
  &_column {
    margin-top: 50px;
    @media(max-width: 991px) {
      margin-top: 0;
      &:first-child {
        margin-top: 30px;
      }
    }

    p {
      margin-bottom: 15px;
      font-size: 11px;
      line-height: 14px;
      color: #636e72;
      @media(max-width: 991px) {
        text-align: center;
      }
      //&:last-child {
      //  margin-bottom: 0;
      //}
    }
  }
  /*
  ** Footer Menu
   */
  .footer-menu {
    margin-top: 35px;
    list-style: none;
    @media(max-width: 767px) {
      margin-top: 45px;
      text-align: center;
    }
    & > .menu-item {
      font-weight: 600;
      color: #2d3436;
      @media(max-width: 767px) {
        display: none;
        &:last-child {
          display: block;
        }
      }
      .sub-menu {
        list-style: none;
        & > .menu-title {
          a {
            display: block;
            margin-top: 25px;
            font-weight: 600;
            color: #2d3436;
          }
        }
        .menu-item {
          margin-top: 4px;
          font-weight: 500;
          color: #636e72;
          @media(max-width: 767px) {
            margin-top: 10px;
            font-weight: 600;
          }
        }
        @media(max-width: 991px) {
          margin-bottom: 15px;
        }
      }
    }
    a {
      color: inherit;
    }
  }
}