/*
** Reset
 */
html, body, div,
section, header, footer,
h1, h2, h3, h4, h5, h6,
ul, ol, li, p {
  margin: 0;
  padding: 0;
}
a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}
//input[type=checkbox] {
//  -webkit-transform: scale(3,3);
//}