/*
** Powered By
 */
.powered-by {
  padding-top: 120px;
  padding-bottom: 120px;
  @media(max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  h2 {
    margin-bottom: 25px;
    text-align: center;
  }
  &_top-text {
    max-width: 760px;
    margin: 0 auto 125px;
    text-align: center;
    color: #636e72;
    @media(max-width: 991px) {
      margin-bottom: 25px;
    }
  }
  &_image {
    margin-bottom: 170px;
    @media(max-width: 991px) {
      display: none;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &_column-text {
    color: #636e72;
    @media(max-width: 991px) {
      margin-bottom: 25px;
      text-align: center;
    }
  }
}