/*
** Three Column For Business
 */
.three-column-for-business {
  padding-top: 290px;
  padding-bottom: 305px;
  @media(max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  &_icon {
    margin-bottom: 50px;
    min-height: 70px;
    @media(max-width: 991px) {
      margin-bottom: 45px;
      text-align: center;
    }
    img {
      display: block;
      max-width: 70px;
      height: auto;
      @media(max-width: 991px) {
        margin: 0 auto;
      }
    }
  }
  &_title {
    font-family: FuturaNewMediumReg;
    font-size: 24px;
    color: #a79582;
    margin-bottom: 30px;
    @media(max-width: 991px) {
      text-align: center;
    }
  }
  &_text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #636e72;
    @media(max-width: 991px) {
      margin-bottom: 80px;
      text-align: center;
    }
  }
}