/*
** Import And Export
 */
.import-and-export {
  padding-top: 80px;
  padding-bottom: 220px;
  @media(max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  &_icon {
    margin-bottom: 25px;
    text-align: center;
    img {
      display: block;
      max-width: 150px;
      height: auto;
      margin: 0 auto;
    }
  }
  h2 {
    margin-bottom: 45px;
    text-align: center;
    color: #2d3436;
    @media(max-width: 991px) {
      margin-bottom: 35px;
    }
  }
  &_text {
    max-width: 760px;
    margin: 0 auto 105px;
    font-size: 16px;
    text-align: center;
    color: #636e72;
    @media(max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &_image {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &_second-text {
    display: flex;
    color: #636e72;
    align-items: center;
    height: 100%;
    @media(max-width: 767px) {
      text-align: center;
    }
  }
}
